streamlit==1.37.1
pandas==2.2.2
yfinance==0.2.43
feedparser==6.0.11
textblob==0.18.0.post0
plotly==5.23.0
requests==2.32.3
pytrends==4.9.2
praw==7.7.1
vaderSentiment==3.3.2
pydeck==0.9.1
reportlab==4.2.2
rapidfuzz==3.9.7
scikit-learn>=1.3


